

body {
margin-left: 15%;
margin-right: 15%;
margin-bottom: 0%
margin-top: 0%
font-family:cursive;
}

h2 {
text-align:center;
}

#header {
text-align:left;
background-color:#96CA2D;
color:#20224D;
border:1px,1px,1px,1px;
border-radius:10px;
height:40px;
display:block;
}

#infos {
text-align:left;
background-color:#B5E655;
color:#20224D;
border:1px,1px,1px,1px;
border-radius:4px;
height:160px;
}

.flotte {
float:right;
margin-left:500px;
margin-top:-160px;
}


#banniereetudes {
text-align:center;
background-color:#96CA2D;
border:1px,1px,1px,1px;
border-radius:10px;
height:40px;

}

#etudes {
text-align:left;
background-color:#B5E655;
color:#20224D;
border:1px,1px,1px,1px;
border-radius:5px;
}

#bannierecompetences {
text-align:center;
background-color:#96CA2D;
border-radius:10px;
border:1px,1px,1px,1px;
height:40px;
}

#competences {
text-align:left;
background-color:#B5E655;
border:1px,1px,1px,1px;
border-radius:5px;
}

#banniereloisirs {
text-align:center;
background-color:#96CA2D;
border-radius:10px;
border:1px,1px,1px,1px;
}

#loisirs {
text-align:left;
background-color:#B5E655;
border:1px,1px,1px,1px;
border-radius:5px;
}
